/*MADE BY CHRIS GIANG, Nakshatra Hiray, Toalima Tamasese*/

.App {
  text-align: center;
  background-image: url('http://getwallpapers.com/wallpaper/full/7/2/8/1472734-funny-minions-wallpaper-for-desktop-2880x1800-for-lockscreen.jpg');
  background-size: cover; /* Optional: Makes the background cover the entire element */
  background-position: center; /* Optional: Centers the background image */
  height: 1000px;
}

.App img {
  width: 1000px; 
  height: auto;
}


form {
  display: inline-block;
  text-align: left;
}

label {
  margin-right: 100px;


}

input {
  margin-bottom: 10px;
  padding: 15px;
  border: 5px dashed #ff6347; 
  border-radius: 30px; 
  font-size: 24px;
  width: 300px;
  outline: none;
  background: #ffdfba; /* Light background color */
  box-shadow: 0 0 10px rgba(255, 105, 180, 0.5); /* Pink shadow */
  transition: all 0.3s ease;
}

input::placeholder {
  color: #333; 
  font-style: italic;
  text-transform: uppercase; 
}


input:hover {
  background-color: #ff9a9e;
  transform: skew(2deg, 2deg); 
}

button {

  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-73:hover {
  background-color: #FFC229;
  box-shadow: #FF6314 0 -6px 8px inset;
  transform: scale(1.125);
}

.button-73:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .button-73 {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }
}

